<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">

<dom-module id="test-element">

	<template>
		<span id="testCl">Not much here yet.</span>
		<!-- bind to the "owner" property -->
		This is <b>[[name]]</b>.
	</template>

</dom-module>
